
<main>
  <section class="section" id="landing-section">
    <div class="center-wrapper fade-in" id="landing-bg">
      <img src="../images/mkacy_logo2.png" alt="kacy sommers logo" />
    </div>
    <div class="page-wrapper">
        <div class="center-wrapper">
          <div class="fade-in" id="landing-intro">
            <h1 class="letter-space">M Kacy Sommers</h1>
            <h3 class="letter-space">Full Stack Web Developer</h3>
            <button class="nav-link" href="/#projects-section">See Projects</button>
          </div>
        </div>
    </div>
  </section>

  <section class="section" id="about-section">
    <div class="page-wrapper">
      <div id="about-flex">
        <div id="about-photo">
          <img src="../images/about_background.jpg" alt="M Kacy Sommers">
        </div>
        <div id="bio">
          <h2>Hi, I'm Kacy.</h2> 
          <p>
            <span id="about-tagline">I'm a Seattle based developer who loves to create full stack, fully responsive web applications that focus strongly on user experience.</span>
            With a diverse background in education, leadership roles, creative work and customer service I have cultivated the logical and creative skills necessary to bring ideas to life online. Using technologies such as Node, React, Django, Postgres and MongoDB, I have written a variety of unique and helpful applications. I keep a curious and an open mind, and I'm learning more every day. 
            <br />
            <br />
            When I'm not coding, I'm usually walking my dog <span id="joni-span">Joni</span> and thinking about coding.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section" id="projects-section">
    <div class="page-wrapper">
      <div class="page-title">
        <h3>Projects</h3>
      </div>
      <div id="projects-thumbnails">
        <div id="projects-thumbnails-wrapper">
          <% projects.forEach(function(project, i) { %>
            <div class="project-thumbnail-wrapper">
              <% if (i === 0) { %>
                <img class="thumbnail-active" data-index="<%= i %>" src="<%= project.imagesSm[0] %>" alt="<%= project.name %>" />
              <% } else { %> 
                <img data-index="<%= i %>" src="<%= project.imagesSm[0] %>" alt="<%= project.name %>" />
              <% } %>
            </div>
          <% }); %>
        </div>
      </div>
      <div id="project-arrows">
        <span class="project-arrow" id="prev">
          <i class="fa fa-chevron-left"></i><span id="prev">Prev Project</span>
        </span>
        <span class="project-arrow" id="next">
          <span id="next">Next Project</span>
          <i class="fa fa-chevron-right"></i>
        </span>
      </div>
      <div class="carousel" id="projects-carousel"></div>
    </div>
  </section>

  <section class="section" id="skills-section">
    <div class="page-wrapper">
      <div class="page-title">
        <h3>Technical Skills</h3>
      </div>
      <div id="skills-flex">
        <% skills.forEach((skill) => { %>
          <div class="skill-icon">
              <img src=<%= skill.src %> alt=<%= skill.name %> name=<%= skill.name %> />
          </div>
        <% }); %>
      </div>
    </div>
  </section>

  <section class="section" id="contact-section">
    <div class="page-wrapper">
      <div id="contact-intro">
        <div id="contact-intro-wrapper">
          <h2>Let's work together!</h2>
          <p>I am always on the lookout for new projects, fresh challenges and kind folks to collaborate with. If you have an idea, an open position or just want to talk code, please get in touch.</p>
          <button class="contact-link">Contact Kacy</button>
        </div>
      </div>
    </div>
  </section>
</main>